* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

#board-center-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#narrator {
  text-align: center;
  padding: 25px;
}

#board-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 25vw);
}

@media only screen and (min-width: 600px) {
  #board-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 170px);
  }
}

.box:hover {
  background-color: whitesmoke;
}

#top-left {
  border-bottom: solid 2px black;
}

#top-middle {
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

#top-right {
  border-bottom: solid 2px black;
}

#middle {
  border-left: solid 2px black;
  border-right: solid 2px black;
}

#bottom-left {
  border-top: solid 2px black;
}

#bottom-middle {
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

#bottom-right {
  border-top: solid 2px black;
}

#new-game-button {
  width: 100px;
  height: 50px;
}
